In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
pd.options.display.max_columns=100
pd.options.display.max_rows=100

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [3]:
target=train.amount_spent_per_room_night_scaled

In [4]:
print train.shape, test.shape

(341424, 24) (146765, 23)

In [5]:
train.booking_date=pd.to_datetime(train.booking_date,format='%d/%m/%y')
train.checkin_date=pd.to_datetime(train.checkin_date,format='%d/%m/%y')
train.checkout_date=pd.to_datetime(train.checkout_date,format='%d/%m/%y')

In [6]:
test.booking_date=pd.to_datetime(test.booking_date,format='%d/%m/%y')
test.checkin_date=pd.to_datetime(test.checkin_date,format='%d/%m/%y')
test.checkout_date=pd.to_datetime(test.checkout_date,format='%d/%m/%y')

In [7]:
print 'min_dates: ', train.booking_date.min(),train.checkin_date.min(),train.checkout_date.min()
print 'max_dates: ', train.booking_date.max(),train.checkin_date.max(),train.checkout_date.max()

min_dates:  2014-09-03 00:00:00 2012-03-08 00:00:00 2012-03-11 00:00:00
max_dates:  2019-03-01 00:00:00 2019-03-01 00:00:00 2019-03-03 00:00:00

In [8]:
print 'min_dates: ', test.booking_date.min(),test.checkin_date.min(),test.checkout_date.min()
print 'max_dates: ', test.booking_date.max(),test.checkin_date.max(),test.checkout_date.max()

min_dates:  2014-09-03 00:00:00 2012-04-20 00:00:00 2012-04-24 00:00:00
max_dates:  2019-03-01 00:00:00 2019-03-01 00:00:00 2019-03-03 00:00:00

In [9]:
print train[train.booking_date>train.checkin_date].shape

(12, 24)

### there are about 12 cases where the checkin date year is 2012 and for those 12 cases checkin_date<booking_date

### DATA IS SPLIT BY THE MEMBER ID, THERE IS NO OVERLAP IN MEMBER ID IN THE TRAIN AND TEST

In [10]:
df=pd.concat((train.iloc[:,:-1],test),axis=0)

### base variables

In [11]:
df['checkin_out_delta']= (df.checkout_date - df.checkin_date).dt.days
df['booking_checkin_delta']= (df.checkin_date - df.booking_date).dt.days
df['booking_checkout_delta']= (df.checkout_date - df.booking_date).dt.days

df['booking_mon']= df.booking_date.dt.month
df['booking_day']= df.booking_date.dt.day
df['booking_year']= df.booking_date.dt.year
df['booking_dow']= df.booking_date.dt.dayofweek
df['booking_week_no']= df.booking_date.dt.week
df['booking_day_of_year']= df.booking_date.dt.dayofyear
df['booking_quarter']= df.booking_date.dt.quarter
df['booking_week_of_yr']= df.booking_date.dt.weekofyear

df['checkin_mon']= df.checkin_date.dt.month
df['checkin_day']= df.checkin_date.dt.day
df['checkin_year']= df.checkin_date.dt.year
df['checkin_dow']= df.checkin_date.dt.dayofweek
df['checkin_week_no']= df.checkin_date.dt.week
df['checkin_day_of_year']= df.checkin_date.dt.dayofyear
df['checkin_quarter']= df.checkin_date.dt.quarter
df['checkin_week_of_yr']= df.checkin_date.dt.weekofyear

In [12]:
train=df[df.memberid.isin(train.memberid)]
test=df[df.memberid.isin(test.memberid)]

print train.shape,test.shape

(341424, 42) (146765, 42)

In [13]:
train['amount_spent_per_room_night_scaled']=target

/home/ubuntu/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
train.head()

,reservation_id,booking_date,checkin_date,checkout_date,channel_code,main_product_code,numberofadults,numberofchildren,persontravellingid,resort_region_code,resort_type_code,room_type_booked_code,roomnights,season_holidayed_code,state_code_residence,state_code_resort,total_pax,member_age_buckets,booking_type_code,memberid,cluster_code,reservationstatusid_code,resort_id,checkin_out_delta,booking_checkin_delta,booking_checkout_delta,booking_mon,booking_day,booking_year,booking_dow,booking_week_no,booking_day_of_year,booking_quarter,booking_week_of_yr,checkin_mon,checkin_day,checkin_year,checkin_dow,checkin_week_no,checkin_day_of_year,checkin_quarter,checkin_week_of_yr,amount_spent_per_room_night_scaled
0,07659f3758d8aee27f5a7e2887adeacb67021cb95ada1b...,2018-04-05,2018-04-05,2018-04-06,3,1,2,0,46,3,3,3,1,2.0,7.0,3,3,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,C,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,1,0,1,4,5,2018,3,14,95,2,14,4,5,2018,3,14,95,2,14,7.706428
1,03930f033646d073462b35d411616323597715ac4fc398...,2015-01-23,2015-04-11,2015-04-16,1,1,2,0,46,3,3,4,5,2.0,7.0,5,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,A,39fa9ec190eee7b6f4dff1100d6343e10918d044c75eac...,5,78,83,1,23,2015,4,4,23,1,4,4,11,2015,5,15,101,2,15,6.662563
2,d145a32920e6587ad95bfe299d80c0affa268220535aaf...,2015-01-28,2015-02-01,2015-02-05,1,1,2,0,47,1,5,4,4,2.0,7.0,1,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,E,A,535fa30d7e25dd8a49f1536779734ec8286108d115da50...,4,4,8,1,28,2015,2,5,28,1,5,2,1,2015,6,5,32,1,5,7.871602
3,cfd77f44811ed62f25a220b53324cdbafc662a4c9e5f04...,2015-05-02,2015-06-11,2015-06-16,1,1,2,2,46,2,2,3,5,2.0,7.0,2,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,5,40,45,5,2,2015,5,18,122,2,18,6,11,2015,3,24,162,2,24,5.344943
4,937cff9e4dcfc2459620153dfc8b9962ac22bea67dfb29...,2015-09-02,2015-12-14,2015-12-19,1,1,2,0,46,2,2,4,5,2.0,7.0,2,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,5,103,108,9,2,2015,2,36,245,3,36,12,14,2015,0,51,348,4,51,7.059346

In [15]:
train.to_csv('train_1.csv',index=False)
test.to_csv('test_1.csv',index=False)